.tooltip {
    -fx-background: rgba(30,30,30);
    -fx-text-fill: black;
    -fx-background-color: rgb(254,255,232);
    -fx-background-radius: 0px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 0.85em;
}

.overviewLabel
{
	-fx-background-color: rgb(150,150,150);
	-fx-font-size: 1.5em;
}

.overviewLabelBox
{
	-fx-background-color: rgb(150,150,150);
}

.localLabel
{
	-fx-font-size: 1em;
	-fx-font-weight: bold;
	-fx-background-color: rgb(100,100,100);
}

.localLabelBox
{
	-fx-background-color: rgb(100,100,100);
}

 
.accordion .title > .arrow-button .arrow
{
  -fx-focus-color: transparent;
}

/* 
.accordion .title > .arrow-button
{
    visibility: hidden;
}
*/


#firstTable .scroll-bar * 
{
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

/* 
.table-view .scroll-bar * 
{
    -fx-min-width: 20;
    -fx-pref-width: 20;
    -fx-max-width: 20;

    -fx-min-height: 20;
    -fx-pref-height: 20;
    -fx-max-height: 20;
    
}
* 
*/

.scroll-bar 
{
    -fx-font-size: 15px;
    -fx-background-color: #f0f0f0;
}

.scroll-bar .thumb
{
	-fx-background-color: #cdcdcd;
	-fx-background-radius:0.0;
}

.scroll-bar .thumb:hover
{
	-fx-background-color: #939393;
}

.table-row-cell
{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-table-cell-border-color: transparent;
}

.table-row-cell:selected
{
    -fx-background-color: #0078d7;
}


.table-row-cell:selected .text
{
       -fx-fill: white ;

}

#lastHour .label
{
	-fx-alignment:baseline-right;
}

#a24Hours .label
{
	-fx-alignment: baseline-right;
}

#a7Days .label
{
	-fx-alignment: baseline-right;
}

/* 
.table-view .table-column {
  -fx-alignment: CENTER-RIGHT;
}

.scroll-bar .decrement-arrow {
    -fx-padding: 10;
 }
.scroll-bar .increment-arrow {
    -fx-padding: 10;
}
*/


.table-view
{
	  -fx-focus-color: transparent;
	  
}

.table-view .column-header-background .label
{
    -fx-background-color: white;
  
}

.table-view .column-header-background
{
    -fx-background-color: white;
}

.table-view .filler
{
	-fx-background-color: white;
}

.table-view .column-header .label
{
	-fx-alignment: baseline-left;
	-fx-font-weight: normal;
}
 
.table-view .column-header
{
	-fx-background-color: transparent;
	-fx-border-color: rgb(229,229,229);
	-fx-border-width: 0 0.5 0 0.5;
}


















